<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">

      <legend><%= Spree.t(:gift_cards) %> </legend>

      <%= render "spree/shared/error_messages", target: @gift_card %>

      <%= form_for @gift_card do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>

      <%= render partial: 'spree/shared/error_messages', locals: { target: @gift_card } %>
    </div>
  </div>
</div>
